<div class="container">
  <h2>Contact us</h2>
  <div class="border my-3"></div>
  <h3>Our Approach</h3>
  <p>Simple is powerful.</p>

  <h3>Our Story</h3>
  <p>We know what you are suffering from. So we started the journey to solve this mystery</p>
  <div class="border my-3"></div>
  <h3>Meet the Team</h3>
  <p>We are a small team. Agile and productive. Everyone of you is a member, help us to build a better directory 🙂</p>

  <div class="container">
    <div class="row text-center">
      <div class="col">
        <figure class="figure">
          <img src="assets/images/abdulla.jpeg" alt="abdulla">
          <figcaption class="font-weight-bold">Abdulla</figcaption>
          <figcaption class="figure-caption">Co-Founder</figcaption>
        </figure>
      </div>
      <div class="col">
        <figure class="figure">
        <img src="assets/images/wael.png" alt="wael">
        <figcaption class="font-weight-bold">Wael</figcaption>
        <figcaption class="figure-caption">Co-Founder</figcaption>
        </figure>
      </div>
      <div class="col">
        <figure class="figure">
          <img src="assets/images/joinus.png" alt="joinus">
          <figcaption class="font-weight-bold">Join Us</figcaption>
          <figcaption class="figure-caption">Marketing Manager</figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
